<header class="flex items-center justify-between px-6 py-3 border-b bg-white sticky top-0 z-50 shadow">
  <div class=""><img src="assets/logo.svg" alt="AI Knowledge Workspace" class="h-8 w-auto"/>
  </div>  

     <!-- Menu items -->
     @if (menus.length > 0) {
      <nav class="flex gap-6">
        @for (menu of menus; track menu.label) {
          <button
            class="cursor-pointer px-3 py-1 rounded hover:bg-gray-200"
            (click)="menu.route ? navigate(menu.route) : (menu.sectionId ? scrollToSection(menu.sectionId) : null)">
            {{ menu.label }}
          </button>
        }
      </nav>
    }
    
</header>
  
