<div class="space-y-4">

  <!-- HEADER -->
  <div class="flex items-center justify-between">

    <h2 class="font-semibold text-lg">
      Sources
    </h2>

    <button
      (click)="toggleSources()"
      class="text-sm text-gray-500">
      {{ sourcesOpen ? '▾' : '▸' }}
    </button>

  </div>


  <!-- ADD BUTTON -->
  <button
    class="w-full py-2
           bg-blue-600 text-white
           rounded-full text-sm
           hover:bg-blue-700 transition" (click)="addWorkspaceSource()">
    + Add Source
  </button>

@if (showUploadModal) {
  <app-upload-source
    (close)="closeUpload()"
    (upload)="uploadFile($event)">
  </app-upload-source>
}

  @if (loading) {
    <div>Loading...</div>
  }
  
  @if (error) {
    <div class="error">{{ error }}</div>
  }

  <!-- SOURCE LIST -->
  @if (sourcesOpen) {

      @if (assets.length === 0) {
        <div class="text-gray-500 text-sm">No assets found</div>
      }
  
      @for (asset of assets; track asset._id) {
        <app-source-cards
          [asset]="asset"
          ><!--(delete)="deleteAsset(asset._id)" -->
        </app-source-cards>
      }
  
    }  
  
</div>
